@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(35,100,35);
    font-family: 'Press Start 2P';
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35,100,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF)

}

#energetico{ 
    display: none;
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: obstaculo-animation 2.6s infinite linear;
    will-change: transform;
    transform: translateZ(0);
}

#passaro{ 
    display: none;
    position: absolute;
    width: 50px;
    bottom: 130px;
    animation: obstaculo-animation 2.6s infinite linear;
    will-change: transform;
    transform: translateZ(0);
}

#cano{
    display: none;
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: obstaculo-animation 2.6s infinite linear;
    will-change: transform;
    transform: translateZ(0);
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    will-change: transform;
    transform: translateZ(0);
}

.jump{
    animation: jump 700ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
    will-change: transform;
    transform: translateZ(0);
}

.menu{
    height: 100px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    font-size: large;
}

.botoes button{
    background: none;
    border: none;
}

.botoes button img{
    height: 50px;
    width: 50px;
}

.scoreboard{
    display: flex;
    align-items: center;
}

.scoreboard img{
    width: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#gameOverText{
    display: none;
    font-size: medium;
    color: red;
    margin-top: 100px;
    justify-self: center;
    flex-wrap: wrap;
}


@keyframes obstaculo-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}
@keyframes jump{
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}