body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 50px;
}

.calculadora{
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input{
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    font-size: 16px;
}

.botoes{
    margin-top: 10px;
}

button{
    width: 60px;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

#resultado{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}